* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

body {
   font-family: 'Open Sans', sans-serif;
   color: #393536;
}

ul {
   list-style-type: none;
}

nav {
   padding: 12px 20px;
   position: sticky;
   top: 0;
   background-color: #fff;
   border-bottom: 1px solid whitesmoke;
   box-shadow: 1.5px 2.5px 2px rgb(0 0 0 / 10%)
}

nav ul {
   max-width: 960px;
   margin: 0 auto;
   position: relative;
}

nav li, .right-nav {
   display: inline-block;
}

.right-nav li {
   font-weight: 500;
   padding: 0 6px;
}

.right-nav {
   position: absolute;
   right: 0;
}

.tuitt-button {
   background: #C2195B;
   color: #ffff;
   font-size: 18px;
   border: 0;
   padding: 8px 14px;
   border-radius: 25px;
   box-shadow:  1.5px 2.5px 5px rgb(0 0 0 / 40%)

}

.tuitt-button:hover {
   background: #b51753;
}

/* Hero Section */

#bg-image {
   background-image: url('https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg');
   background-size: cover;
   background-position: center;
} 

.clearfix {
   overflow: auto;
}

.container {
   max-width: 960px;
   margin: 0 auto;
   padding: 40px 0;
   color: #fff;
}

.title, .title-2 {
   font-family: 'Zilla Slab', serif;
}

.front-bg {
   background: rgba(0,0,0,0.6) 
}

.title, .subtitle {
   text-align: right;
   margin-left: auto;
}
.title {
   /* max-width: 100%; */
   font-size: 40px;
   font-weight: 600;
   margin-bottom: 28px;
}

.subtitle {
   font-size: 20px;
   font-weight: 300;
   width: 65%;
   margin-bottom: 28px;
}

.apply-button {
   background: #C2195B;
   color: #fff;
   float: right;
   font-size: 20px;
   padding: 10px 32px;
   border: 0;
   border-radius: 25px;
   box-shadow: 1.5px 2.5px 5px rgb(0 0 0 / 40%)
}

.apply-button:hover {
   background: #b51753;
}

/* Intro Section */

.intro {
   max-width: 960px;
   margin: 0 auto;
   padding: 75px 0;
   text-align: center;
}

.intro .title-2 {
   margin-bottom: 45px;
   font-size: 30px;
   font-weight: 600;
}

.intro-description {
   font-weight: 300;
}


/* Pre-footer Section */

.pre-footer {
   background: #f7fbfb;
   text-align: center;
   padding: 75px 0;
}

.pre-footer-content {
   max-width: 960px;
   margin: 0 auto;
}

.pre-footer .title-2 {
   font-size: 30px;
   font-weight: 600;
   margin-bottom: 45px;
}

.book-button {
   background: #336589;
   border: 0;
   color: #fff;
   font-size: 20px;
   padding: 10px 32px;
   border-radius: 25px;
   margin-top: 45px;
}

.book-button:hover {
   background: #2b5a7a;
}

/* Footer */

footer {
   text-align: center;
   padding: 10px;
   border-top: 1px solid whitesmoke;
   font-size: 14px;
}

footer span {
   margin: 0 8px;
}